<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="text" [value]="visorCredito">
    <button (click)="atualizaCredito()">Descontar Crédito</button>
    <button (click)="newcredito(10)">10</button>
    <button (click)="newcredito(100)">100</button>
    <button (click)="newcredito(1000)">1000</button>
</body>
</html>
